*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yesno {
    background-image: url(https://t4.ftcdn.net/jpg/03/72/21/53/360_F_372215339_778ZuPExKiVMXYodEHsPDLU3sZsQXPQV.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.text{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#9DCADD;
}
h2{
    line-height: 2.4;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(81, 88, 60);
   font-size: 23px;
}